<main class="search__main" id="translation-part">

</main>
<script type="text/javascript">
    //í•œ-ì˜ ë²ˆì—­ ê¸°ëŠ¥
    let eng_cluster = `<main class="search__main" id="translation-part">
    <hr/>
    <div class="side_menu">
        <ul id="explain_ul">
            <li><a href="/results/classification"><img src="/images/classification.png" id="menu_icon"></a></li>
            <li>Classification</li>
        </ul>
        <ul id="explain_ul">
            <li><a href="/results/feature"><img src="/images/feature-selection.png" id="menu_icon"></a></li>
            <li>Feature Selection</li>
        </ul>
        <ul id="explain_ul">
            <li><a href="/results/corr"><img src="/images/matrix2.png" id="menu_icon"></a></li>
            <li>Correlation Analysis</li>
        </ul>
    </div>
    <div class="search__result">
        <!--explain classification-->
        <div class="explain_div">
            <ul id="explain_ul">
                <li><a href="/results/cluster"><img src="/images/cluster.png" id="menu_icon"></a></li>
                <li style="font-weight: 700;">Clustering</li>
            </ul>
            <div id="explain_content">
                <h1>What is Clustering? </h1> <br>
                Clustering is an unsupervised machine learning task.
                It involves automatically discovering natural grouping in data.
                Unlike supervised learning (like predictive modeling), clustering algorithms only interpret the input
                data and find natural groups or clusters in feature space. <br>
                <p style="font-weight: 200;">
                    <br>
                    (Unsupervised learning (UL) is a type of algorithm that learns patterns from untagged data. The hope
                    is that through mimicry, the machine is forced to build a compact internal representation of its
                    world.)

                    <br><br>
                <details>
                    <summary>Algorithms</summary>
                    <div class="summary-content">
                        <br>
                        <h5>K-means Clustering</h5>
                        K-means clustering is a type of unsupervised learning. The goal of this algorithm is to find
                        groups in the data, with the number of groups represented by the variable K. The algorithm works
                        iteratively to assign each data point to one of K groups based on the features that are
                        provided. Data points are clustered based on feature similarity.<br><br>
                        <h5>DBSCAN</h5>
                        Density-Based Spatial Clustering of Applications with Noise (DBSCAN) is a base algorithm for
                        density-based clustering. It can discover clusters of different shapes and sizes from a large
                        amount of data, which is containing noise and outliers.<br><br>
                        <h5>Hierarchial Clustering</h5>
                        Linear Regression is a supervised machine learning algorithm where the predicted output is
                        continuous and has a constant slope. It's used to predict values within a continuous range,
                        (e.g. sales, price) rather than trying to classify them into categories (e.g. cat, dog). There
                        are two main types: Simple regression and Multivariable regression.

                    </div>
                </details>

                </p>

            </div>
        </div>
        <!--set parameters & results-->
        <div class="main_div">
            <div class="parameters">
                <h2>Choose Parameters</h2>
                <!--run and post to fileProcess.js's /classification-run-->
                <form action="/file/clustering-run" method="POST" class="param-form">
                    <div>
                        <h3>K-means Clustering</h3>
                        <span class="param-label">n_clusters</span>
                        <p style="font-size: x-small;">
                            The number of clusters to form as well as the number of centroids to generate.
                            <br> <br>(int, default=8)
                        </p>
                        <input type="text" name="kmeans_n_clusters" value="<%=param_cluster.kmeans_n_clusters%>">
                        <br>
                        <span class="param-label">max_iter</span>
                        <p style="font-size: x-small;">
                            Maximum number of iterations of the k-means algorithm for a single run.
                            <br> <br>(int, default=300)
                        </p>
                        <input type="text" name="max_iter" value="<%=param_cluster.max_iter%>">



                    </div>
                    <div>
                        <h3>DBSCAN</h3>
                        <span class="param-label">eps</span>
                        <p style="font-size: x-small;">
                            The maximum distance between two samples for one to be considered as in the neighborhood of
                            the other. This is not a maximum bound on the distances of points within a cluster. This is
                            the most important DBSCAN parameter to choose appropriately for your data set and distance
                            function.
                            <br><br>(float, default=0.5)
                        </p>

                        <input type="text" name="eps" value="<%=param_cluster.eps%>">
                        <br>
                        <span class="param-label">min_samples</span>
                        <p style="font-size: x-small;">
                            The number of samples (or total weight) in a neighborhood for a point to be considered as a
                            core point. This includes the point itself.
                            <br><br>(int, default=5)
                        </p>

                        <input type="text" name="min_samples" value="<%=param_cluster.min_samples%>">

                    </div>
                    <div>
                        <h3>Hierarchial Clustering</h3>
                        <span class="param-label">n_clusters</span>
                        <p style="font-size: x-small;">
                            The number of clusters to find. It must be None if distance_threshold is not None.
                            <br><br>(int or None, default=2)
                        </p>

                        <input type="text" name="hc_n_clusters" value="<%=param_cluster.hc_n_clusters%>">

                    </div>
                    <div class="btn-wrapper">
                    <div id="loading">
                        <img src="/images/loading.gif">
                    </div>
                        <input type="submit" id="btn" value="Run"></input>

                    </div>


                </form>
            </div>
            <div class="result_div">
                <h2>Results</h2>
                <div class="result_content">

                    <div class="result-image-wrapper2">
                        <h3>Silhouette Score</h3>
                        <p>Kmeans clustering was used to check Silhouette score. In general, if the silhouette score of
                            all clusters is greater than 0.5, it seems that data is well clustered. </p>
                        <p style="font-weight: 200;font-size: x-small;"> <br> â–ª Click on an image for more details.</p>
                        <img src="/files/<%=maindata.cluster_img1%>" class="result-image" />
                        <h3>Dendrogram</h3>
                        <p>The complete linkage method was used to measure the distance between clusters, which is the
                            method that uses the farthest distance between the two clusters.</p>
                        <p style="font-weight: 200;font-size: x-small;">â–ª Click on an image for more details.</p>
                        <img src="/files/<%=maindata.cluster_img2%>" class="result-image" />
                        <h3>PCA</h3>
                        <p>After reducing the dimension to 2D with 2D principal component analysis(2 component PCA),
                            K-means clustering was performed on 4 clusters.</p>
                        <details>
                            <summary>What is PCA(Principal Component Analysis)? </summary>
                            <p>
                                Principal Component Analysis, or PCA, is a dimensionality-reduction method that is often
                                used to reduce the dimensionality of large data sets, by transforming a large set of
                                variables into a smaller one that still contains most of the information in the large
                                set. Reducing the number of variables of a data set naturally comes at the expense of
                                accuracy, but the trick in dimensionality reduction is to trade a little accuracy for
                                simplicity. Because smaller data sets are easier to explore and visualize and make
                                analyzing data much easier and faster for machine learning algorithms without extraneous
                                variables to process. In conclusion, the idea of PCA is that reduce the number of
                                variables of a data set, while preserving as much information as possible.

                            </p>
                        </details>
                        <p style="font-weight: 200;font-size: x-small;"> <br> â–ª Click on an image for more details.</p>
                        <img src="/files/<%=maindata.pca_img%>" class="result-image" />

                    </div>

                </div>

                <div class="file-download">
                    <% if(Object.keys(maindata).length !=0) { %>
                        <button type="button" id="res_btn" data-tooltip-text="<%=maindata.cluster_img1%>
                                <%=maindata.cluster_img2%>
                                <%=maindata.pca_img%>
                                <%=maindata.resultfilename4%>
				<%=maindata.resultfilename5%>
				<%=maindata.resultfilename8%>">
                            <a href="/file/clustering_<%=maindata.filename%>_.zip">Result File Download</a></button>

                        <% } %>
                </div>
            </div>
        </div>
    </div>
    </div>


</main>`
    let kor_cluster = `<main class="search__main" id="translation-part">
    
    <hr/>
    <div class="side_menu">
        <ul id="explain_ul">
            <li><a href="/results/classification"><img src="/images/classification.png" id="menu_icon"></a></li>
            <li>ë¶„ë¥˜ ë¶„ì„</li>
        </ul>
        <ul id="explain_ul">
            <li><a href="/results/feature"><img src="/images/feature-selection.png" id="menu_icon"></a></li>
            <li>ì¤‘ìš” íŠ¹ì„± ì„ íƒ</li>
        </ul>
        <ul id="explain_ul">
            <li><a href="/results/corr"><img src="/images/matrix2.png" id="menu_icon"></a></li>
            <li>ìƒê´€ê´€ê³„ ë¶„ì„</li>
        </ul>
    </div>
    <div class="search__result">
        <!--explain classification-->
        <div class="explain_div">
            <ul id="explain_ul">
                <li><a href="/results/cluster"><img src="/images/cluster.png" id="menu_icon"></a></li>
                <li style="font-weight: 700;">êµ°ì§‘ ë¶„ì„</li>
            </ul>
            <div id="explain_content">
                <h1>êµ°ì§‘ ë¶„ì„ì´ë€? </h1> <br>
                êµ°ì§‘ ë¶„ì„ì€ ê° ê°œì²´ì˜ í´ë˜ìŠ¤ ì •ë³´ ì—†ì´ íŠ¹ì„±ì´ ìœ ì‚¬í•œ ê°œì²´ë¼ë¦¬ì˜ ê·¸ë£¹í™”ë¥¼ ìˆ˜í–‰í•˜ëŠ” ë¹„ì§€ë„ ê¸°ê³„í•™ìŠµ ì•Œê³ ë¦¬ì¦˜ì´ë‹¤.<br>
                ì˜ˆì¸¡ ë° ë¶„ë¥˜ ëª¨ë¸ ê¸°ë°˜ì˜ ì§€ë„ì  í•™ìŠµ ê¸°ë²•ê³¼ ë‹¤ë¥´ê²Œ, í´ëŸ¬ìŠ¤í„°ë§ ì•Œê³ ë¦¬ì¦˜ì€ ë¼ë²¨ ê°’ ì—†ì´ ì…ë ¥ ë°ì´í„°ì˜ íŠ¹ì„±ë§Œ í™œìš©í•˜ì—¬ ë°ì´í„°ë“¤ì˜ ê·¸ë£¹ê³¼ í´ëŸ¬ìŠ¤í„°ë¥¼ íƒìƒ‰í•œë‹¤. <br>
                <p style="font-weight: 200;">
                    <br>
                    (ë¹„ì§€ë„ í•™ìŠµì€ ì…ë ¥ë°ì´í„°ì— ëŒ€í•œ ëª©í‘œê°’ ì—†ì´ ë°ì´í„°ê°€ ì–´ë–»ê²Œ êµ¬ì„±ë˜ì—ˆëŠ”ì§€ë¥¼ ì•Œì•„ë‚´ëŠ” ê¸°ê³„ í•™ìŠµ ê¸°ë²•ìœ¼ë¡œ, ë¹„ì •ì œ ë°ì´í„°ë¥¼ ì…ë ¥í•˜ì—¬ í›ˆë ¨ ë°ì´í„° ì—†ì´ ë°ì´í„°ì˜ íŠ¹ì§• ìš”ì•½ê³¼ êµ°ì§‘ ë¶„ì„ì„ ìˆ˜í–‰í•œë‹¤.)

                    <br><br>
                <details>
                    <summary>ì§€ì›í•˜ëŠ” êµ°ì§‘ ë¶„ì„ ì•Œê³ ë¦¬ì¦˜</summary>
                    <div class="summary-content">
                        <br>
                        <h5>K-means clustering</h5>
                        ëŒ€í‘œì ì¸ ë¶„ë¦¬í˜• êµ°ì§‘í™” ì•Œê³ ë¦¬ì¦˜ ê°€ìš´ë° í•˜ë‚˜ë¡œ, 
                        ê° êµ°ì§‘ì€ í•˜ë‚˜ì˜ ì¤‘ì‹¬(centroid)ì„ ê°€ì§„ë‹¤. ê° ê°œì²´ëŠ” ê°€ì¥ ê°€ê¹Œìš´ ì¤‘ì‹¬ì— í• ë‹¹ë˜ë©°, 
                        ê°™ì€ ì¤‘ì‹¬ì— í• ë‹¹ëœ ê°œì²´ë“¤ì´ ëª¨ì—¬ í•˜ë‚˜ì˜ êµ°ì§‘ì„ í˜•ì„±í•¨. ì‚¬ìš©ìê°€ ì‚¬ì „ì— êµ°ì§‘ ìˆ˜(ğ‘˜)ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì•Œê³ ë¦¬ì¦˜ì„ ìˆ˜í–‰í•  ìˆ˜ ìˆë‹¤.<br><br>
                        <h5>DBSCAN</h5>
                        DBSCAN (Density-based Spatial Clustering of Applications with Noise)ì€ ë¹„ì„ í˜• í´ëŸ¬ìŠ¤í„°ì˜ êµ°ì§‘ì´ë‚˜ ë‹¤ì–‘í•œ í¬ê¸°ë¥¼ ê°–ëŠ” ê³µê°„ ë°ì´í„°ë¥¼ ë³´ë‹¤ íš¨ê³¼ì ìœ¼ë¡œ êµ°ì§‘í•˜ê¸° ìœ„í•´ ì´ì›ƒí•œ ê°œì²´ì™€ì˜ ë°€ë„ë¥¼ ê³„ì‚°í•˜ì—¬ êµ°ì§‘í•˜ëŠ” ê¸°ë²•ì´ë‹¤.
                        í•´ë‹¹ ì•Œê³ ë¦¬ì¦˜ì€ ë…¸ì´ì¦ˆì™€ ì´ìƒì¹˜ë¥¼ í¬í•¨í•œ ë§ì€ ì–‘ì˜ ë°ì´í„°ë¡œë¶€í„° ì—¬ëŸ¬ í¬ê¸°ì˜ í´ëŸ¬ìŠ¤í„°ë¥¼ í˜•ì„±í•  ìˆ˜ ìˆë‹¤.<br><br>
                        <h5>Hierarchial Clustering</h5>
                        ê³„ì¸µì  íŠ¸ë¦¬ ëª¨í˜•ì„ ì´ìš©í•´ ê°œë³„ ê°œì²´ë“¤ì„ ìˆœì°¨ì , ê³„ì¸µì ìœ¼ë¡œ ìœ ì‚¬í•œ ê°œì²´ ë‚´ì§€ ê·¸ë£¹ê³¼ í†µí•©í•˜ì—¬ êµ°ì§‘í™”ë¥¼ ìˆ˜í–‰í•˜ëŠ” ì•Œê³ ë¦¬ì¦˜ì´ë‹¤. 
                        ê°œì²´ë“¤ì´ ê²°í•©ë˜ëŠ” ìˆœì„œë¥¼ ë‚˜íƒ€ë‚´ëŠ” íŠ¸ë¦¬í˜•íƒœì˜ êµ¬ì¡°ì¸ ë´ë“œë¡œê·¸ë¨(Dendrogram)ì„ ìƒì„±í•œ í›„ ì ì ˆí•œ ìˆ˜ì¤€ì—ì„œ íŠ¸ë¦¬ë¥¼ ìë¥´ë©´ ì „ì²´ ë°ì´í„°ë¥¼ êµ°ì§‘ìœ¼ë¡œ ë‚˜ëˆŒ ìˆ˜ ìˆë‹¤.

                    </div>
                </details>

                </p>

            </div>
        </div>
        <!--set parameters & results-->
        <div class="main_div">
            <div class="parameters">
                <h2>íŒŒë¼ë¯¸í„° ì„ íƒ</h2>
                <!--run and post to fileProcess.js's /classification-run-->
                <form action="/file/clustering-run" method="POST" class="param-form">
                    <div>
                        <h3>K-means Clustering</h3>
                        <span class="param-label">n_clusters</span>
                        <p style="font-size: small;">
                            í´ëŸ¬ìŠ¤í„°ì˜ ê°œìˆ˜ì´ë©´ì„œ ë™ì‹œì— ìƒì„±í•  ì¤‘ì‹¬ (centroid)ì˜ ê°œìˆ˜ 
                            <br> <br>(ì •ìˆ˜í˜•, ë””í´íŠ¸=3)
                        </p>
                        <input type="text" name="kmeans_n_clusters" value="<%=param_cluster.kmeans_n_clusters%>">
                        <br>
                        <span class="param-label">max_iter</span>
                        <p style="font-size: small;">
                            k-means ì•Œê³ ë¦¬ì¦˜ ë‹¨ì¼ ìˆ˜í–‰ì— ëŒ€í•œ ìµœëŒ€ iteration ìˆ˜ 
                            <br> <br>(ì •ìˆ˜í˜•, ë””í´íŠ¸=300)
                        </p>
                        <input type="text" name="max_iter" value="<%=param_cluster.max_iter%>">



                    </div>
                    <div>
                        <h3>DBSCAN</h3>
                        <span class="param-label">eps</span>
                        <p style="font-size: small;">
                            ì„œë¡œ ì´ì›ƒìœ¼ë¡œ ê³ ë ¤ë  ìˆ˜ ìˆë„ë¡ í•˜ëŠ” ë‘ ìƒ˜í”Œ ê°„ì˜ ìµœëŒ€ ê±°ë¦¬ë¡œ, í´ëŸ¬ìŠ¤í„° ë‚´ ë‘ ë°ì´í„° í¬ì¸íŠ¸ ê°„ì˜ ìµœëŒ€ ê±°ë¦¬ê°€ ì•„ë‹˜ì„ ì£¼ì˜í•´ì•¼í•¨. <br>
                            DBSCANì—ì„œ ê°€ì¥ ì¤‘ìš”í•œ íŒŒë¼ë¯¸í„° ì¤‘ í•˜ë‚˜ë¡œ ì…ë ¥ ë°ì´í„°ì— ì ì ˆí•œ ê°’ìœ¼ë¡œ ì„¤ì •í•´ì•¼í•¨.
                            <br><br>(ì‹¤ìˆ˜í˜•, ë””í´íŠ¸=0.5)
                        </p>

                        <input type="text" name="eps" value="<%=param_cluster.eps%>">
                        <br>
                        <span class="param-label">min_samples</span>
                        <p style="font-size: small;">
                            ê° ë°ì´í„° í¬ì¸í„°ì— ëŒ€í•´ core pointë¡œ ê³ ë ¤ë  ìˆ˜ ìˆëŠ” ì´ì›ƒ ë‚´ ìƒ˜í”Œ ìˆ˜. 
                            <br><br>(ì •ìˆ˜í˜•, ë””í´íŠ¸=5)
                        </p>

                        <input type="text" name="min_samples" value="<%=param_cluster.min_samples%>">

                    </div>
                    <div>
                        <h3>Hierarchial Clustering</h3>
                        <span class="param-label">n_clusters</span>
                        <p style="font-size: small;">
                            íƒìƒ‰í•˜ê³ ì í•˜ëŠ” í´ëŸ¬ìŠ¤í„° ìˆ˜ 
                            <br><br>(ì •ìˆ˜í˜•, ë””í´íŠ¸=2)
                        </p>

                        <input type="text" name="hc_n_clusters" value="<%=param_cluster.hc_n_clusters%>">

                    </div>
                    <div class="btn-wrapper">
                    <div id="loading" style="display: block;z-index: 99;">
                        <img src="/images/loading.gif">
                    </div>
                        <input type="submit" id="btn" value="ì¬ì‹¤í–‰"></input>
                    </div>


                </form>
            </div>
            <div class="result_div">
                <h2>ë¶„ì„ ê²°ê³¼ ë° ì‹œê°í™”</h2>
                <div class="result_content">

                    <div class="result-image-wrapper2">
                        <h3>Silhouette Score</h3>
                        <p>Silhouette score ì¸¡ì •ì„ ìœ„í•´ K-means clustering ê²°ê³¼ê°€ ì‚¬ìš©ë˜ì—ˆìŒ. ì¼ë°˜ì ìœ¼ë¡œ, ëª¨ë“  í´ëŸ¬ìŠ¤ë“¤ì˜ silhouette scoreê°€ 0.5 ì´ìƒì¼ ê²½ìš°, ë°ì´í„°ê°€ ì ì ˆí•˜ê²Œ í´ëŸ¬ìŠ¤í„°ë§ ëœ ê²ƒìœ¼ë¡œ íŒë‹¨í•¨. </p>
                        <p style="font-weight: 200;font-size: x-small;"> <br> â–ª ì‚¬ì§„ í´ë¦­ì‹œ, í™•ëŒ€</p>
                        <img src="/files/<%=maindata.cluster_img1%>" class="result-image" />
                        <h3>Dendrogram</h3>
                        <p>ë‘ í´ëŸ¬ìŠ¤í„° ì‚¬ì´ì˜ ê°€ì¥ ê±°ë¦¬ê°€ ê¸´ ê±°ë¦¬ë¥¼ ì‚¬ìš©í•˜ëŠ” the complete linkage methodë¥¼ ì‚¬ìš©í•˜ì—¬ í´ëŸ¬ìŠ¤í„° ê°„ì˜ ê±°ë¦¬ë¥¼ ì¸¡ì •í•¨.</p>
                        <p style="font-weight: 200;font-size: x-small;">â–ª ì‚¬ì§„ í´ë¦­ì‹œ, í™•ëŒ€</p>
                        <img src="/files/<%=maindata.cluster_img2%>" class="result-image" />
                        <h3>í´ëŸ¬ìŠ¤í„°ë§ ê²°ê³¼ ì‹œê°í™”</h3>
                        <p>ì£¼ì„±ë¶„ ë¶„ì„ (2 component PCA)ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ë°ì´í„° ì°¨ì›ì„ 2ì°¨ì›ìœ¼ë¡œ ì¶•ì†Œ í•œ í›„, K-means í´ëŸ¬ìŠ¤í„°ë§ ê²°ê³¼ë¥¼ ì‹œê°í™”í•¨. </p>
                        <details>
                            <summary>ì£¼ì„±ë¶„ ë¶„ì„ì´ë€? </summary>
                            <p>
                                ì£¼ ì„±ë¶„ ë¶„ì„(PCA)ì€ í¬ê¸°ê°€ í° ë°ì´í„° ì§‘í•©ì˜ ì°¨ì›ì„ ì¶•ì†Œí•˜ëŠ”ë° ì‚¬ìš©ë˜ëŠ” ì°¨ì› ì¶•ì†Œ ê¸°ë²•ì´ë‹¤. ëŒ€ê·œëª¨ ë°ì´í„°ë¥¼ ì ì€ ë³€ìˆ˜ì˜ ì§‘í•©ìœ¼ë¡œ ë³€í™˜í•¨ìœ¼ë¡œì„œ, ìµœëŒ€í•œ ë§ì€ ì •ë³´ì˜ ë³´ì¡´ì„ í†µí•´ ë°ì´í„°ë¥¼ ë¹„êµì  ë” ì‰½ê²Œ íƒìƒ‰í•˜ê³  ì‹œê°í™”í•  ìˆ˜ ìˆë„ë¡ í•œë‹¤.
                            </p>
                        </details>
                        <p style="font-weight: 200;font-size: x-small;"> <br>â–ª ì‚¬ì§„ í´ë¦­ì‹œ, í™•ëŒ€</p>
                        <img src="/files/<%=maindata.pca_img%>" class="result-image" />

                    </div>

                </div>

                <div class="file-download">
                    <% if(Object.keys(maindata).length !=0) { %>
                        <button type="button" id="res_btn" data-tooltip-text="<%=maindata.cluster_img1%>
                                <%=maindata.cluster_img2%>
                                <%=maindata.pca_img%>
                                <%=maindata.resultfilename4%>
				<%=maindata.resultfilename5%>
				<%=maindata.resultfilename8%>">
                            <a href="/file/clustering_<%=maindata.filename%>_.zip">ê²°ê³¼ íŒŒì¼ ë‹¤ìš´ë¡œë“œ</a></button>

                        <% } %>
                </div>
            </div>
        </div>
    </div>
    </div>


</main>`
    if (document.body.data.isEng) document.getElementById("translation-part").innerHTML = eng_cluster;
    else document.getElementById("translation-part").innerHTML = kor_cluster;
    //ë²ˆì—­ë²„íŠ¼ í´ë¦­ì‹œ
    var btn = document.querySelector('#translate-btn');
    btn.addEventListener('click', function transEvent() {
        if (document.body.data.isEng) {
            document.getElementById("translation-part").innerHTML = eng_cluster;
        }
        else {
            document.getElementById("translation-part").innerHTML = kor_cluster;
        }
        document.getElementById("loading").style.display = "none";
        let submitBtn = document.querySelector(".param-form #btn");
        submitBtn.addEventListener("click", function (event) {
            document.getElementById("loading").style.display = "block";
        });
    })
</script>